{% extends 'base.html' %}

{% block meta %}
<title>Search!</title>
<style>
    .search-box h1 {
        color: #42A8BF;
    }

    .search-box li {
        padding: 3px;
        margin: 10px;
        float: left;
        height: 240px;
        width: 160px;
        border: 1px solid #ffffff;
        overflow: hidden;
    }

    .search-box li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    .search-box li a:hover {
        background-color: #111111;
    }
</style>
{% endblock meta %}

{% block content %}
<div class='search-box'>
    <h1>Cari Buku</h1>
    <input id="keyword" type="search" placeholder="Masukkan kata kunci">
    <ol id="hasil">
    </ol>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        cari("/data?q=SBMPTN");
    });

    $("#keyword").keyup(function () {
        var isi_keyword = $("#keyword").val();
        console.log(isi_keyword);
        var url_utk_dipanggil = "/data?q=" + isi_keyword;
        console.log(url_utk_dipanggil);
        cari(url_utk_dipanggil)
    })

    function cari(data) {
        $.ajax({
            async: true,
            url: data,
            type: 'GET',
            success: function (hasil) {
                console.log(hasil.items);
                var obj_hasil = $("#hasil");
                obj_hasil.empty();

                for (i = 0; i < hasil.items.length; i++) {
                    var tmp_title = hasil.items[i].volumeInfo.title;
                    var tmp_thumbnails = hasil.items[i].volumeInfo.imageLinks.thumbnail;
                    console.log(tmp_title);
                    obj_hasil.append('<li>' + tmp_title + '<br> <img src=' + tmp_thumbnails +
                        '> </li>');
                }
            }
        })
    }
</script>
{% endblock content %}